@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  background-color: #333;
  overflow-x: hidden;
}

/* header */
.hd {
  background: rgba(141, 138, 138);
}

.headfooter {
  line-height: 2;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 1.8rem;
}

.headfooter > p {
  text-align: left;
}

/* section */
#bigBox {
  width: 80%;
  /* margin: 0px auto; */
  margin-left: 280px;
}

#Container1 {
  width: 100%;
  height: 80vh;
}

/* bigimgbox */
.bigImgBox {
  padding-top: -3rem;
}
input {
  color: white;
}
/* swiper */
.swiper-container {
  width: 80%;
  height: 600px;
  margin: 100px auto;
  border-radius: 20px;
  /* overflow: hidden; */
  position: relative;
}
.swiper-container h2 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 3rem;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  transition: 0.3s all;
  box-shadow: 0 0 20px #00000036;
  border-radius: 10px;
}
.swiper-slide-active {
  transition: 0.3s all;
  opacity: 1;
  background-color: orange;
}
/* container2 */
#section1 {
  width: 85%;
  margin: 8rem auto;
  position: relative;
}
section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}
section h2 {
  color: white;
}
.imgWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.korea,
.global {
  width: 100%;
  height: 350px;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 auto;
  gap: 1.5rem;
}
.korea > li,
.global > li {
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.korea > li:hover img,
.global > li:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.korea > li .textWrap,
.global > li .textWrap {
  position: absolute;
  bottom: -6rem;
  color: #fff;
  width: 90%;
}

.textTop {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
}

.textTop span {
  display: inline-block;
}
.textDown {
  margin-top: 1rem;
}
.textDown i {
  margin-right: 0.5rem;
  color: yellow;
}
.btns {
  font-size: 2rem;
  color: #000;
  display: flex;
  justify-content: space-between;
  top: 55%;
  position: absolute;
  width: 105%;
  left: 50%;
  transform: translateX(-50%);
}
.btns i {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
button {
  border: none;
  background: none;
}

#section2 {
  width: 85%;
  margin: 13rem auto;
  position: relative;
}
/* 찜 */
#wishlist {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -110%;
  background: #333333;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 20px;
  display: block;
  z-index: 90;
  transition: left 1s ease;
}
#wishlist.show {
  left: 202px;
}
#wishlist h2 {
  text-align: center;
  margin-top: 0;
}
#wishlist ul {
  margin-left: 12%;
  list-style: none;
  padding: 0;
}
#wishlist li {
  margin-bottom: 10px;
}

#wishlistToggle {
  cursor: pointer;
}
.red {
  color: #e4687f;
}

/* wishlistItems 내의 li 요소 스타일링 */
#wishlistItems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 각 항목 사이의 간격 */
}
#wishlistItems li {
  flex: 0 0 auto;
  margin-right: 10px;
}
.wishlist-item {
  width: 15%;
  height: 100%;
  flex: 0 0 auto; /* 요소가 가로로 나열되도록 설정 */
  font-size: 14px;
  padding: 10px;
  margin-right: 10px; /* 가로 간격 조정 */
  list-style-type: none;
  border-radius: 5px;
}
.moviePoster {
  width: 100%; /* 이미지의 너비를 100%로 설정하여 부모 요소에 맞춤 */
  height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
  object-fit: cover; /* 이미지를 자르지 않고 부모 요소에 맞추어 배치 */
}

.movieName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
} /* 무비 이름 길 경우 생략 - 지향 */

/* searchResult 지향 검색 결과 및 수정 */

#searchResult {
  color: #fff;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20rem;
}
#searchResult #result {
  font-size: 3rem;
}
#searchResult .total_num {
  text-align: right;
  font-size: 2rem;
  margin: 2rem 0 4rem;
}
.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.movies li {
  margin-bottom: 10rem;
  border-radius: 2rem;
  width: 30%;
  height: 45vh;
  cursor: pointer;
}
.movies .imgWrap {
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.textWrap {
  margin-top: 1.5rem;
}
.imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.textTop #movieCon {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.textTop h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textTop .topIcon {
  font-size: 2rem;
  color: #e4687f;
  justify-self: end;
  cursor: pointer;
}
.textTop .textDown {
  width: 100%;
  margin-top: 1rem;
  text-align: left;
}
.textDown span {
  display: inline-block;
  margin-left: 1rem;
}
.textDown p i {
  color: rgb(237, 237, 155);
}
.more {
  width: 10rem;
  height: 4.5rem;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 10px;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.more:hover {
  background-color: #fff;
  color: #000;
}
