/* ----------sub---------- */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(to right, black, rgb(93, 88, 88));
  font-family: "GmarketSansMedium";
  font-weight: 300;
  overflow-x: hidden;
}
#wishlistToggle {
  cursor: pointer;
}

.headfooter {
  line-height: 2;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 1.8rem;
}
/* subSection1 */
section img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}

#subSection1 {
  padding-left: 212px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 8rem;
}

#genre {
  text-align: center;
  padding: 3rem 0;
  color: #fff;
  letter-spacing: 5px;
}

/* main */
.main {
  width: 100%;
  height: 300px;
  margin: 15px 0px;
  border-radius: 20px;
  background: red;
}

.main img {
  width: 100%;
  height: 300px;
}

.mainImg {
  position: relative;
}

.mainImg h3 {
  font-size: 3rem;
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  color: #fff;
}

/* content */
.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 1.5rem;
}

.movies > li {
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.movies > li:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.movies .imgWrap {
  width: 100%;
  height: 350px;
}

.movies .imgWrap span {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 99;
}

.movies > li .textWrap {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  cursor: pointer;
}

#movieName {
  font-size: 20px;
  margin-left: 15px;
}

.textDown {
  margin-left: 15px;
}

.topIcon {
  justify-self: end;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

/* more button */
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.more {
  width: 10rem;
  height: 4.5rem;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 10px;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.more:hover {
  background-color: #fff;
  color: #000;
}

/* .movies > li {
  margin-bottom: 9rem;
}

.textTop {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
}

.textTop span {
  display: inline-block;
}

.topIcon {
  justify-self: end;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

.textDown {
  margin-top: 1rem;
}

.textDown i {
  margin-right: 0.5rem;
  color: yellow;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  width: 13rem;
  height: 4.5rem;
  transition: 0.5s;
}

.more:hover {
  background-color: #fff;
  color: #000;
}
#subSection1 p {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
/***************************
detail
****************************/
/* #subDetail {
  width: 100%;
  margin: 15rem 0;
}

.conTop {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(../img/back.PNG) center/cover no-repeat;
}

.conTop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/back.PNG) center/cover no-repeat;
  filter: blur(8px);
  /* 원하는 블러 정도 설정 */

/*
.conTop .videoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
}

.conBot {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.conBot > * {
  margin-bottom: 2rem;
}

.conBot ul {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}

.sub {
  font-size: 3rem;
  margin-top: 4rem;
}

.conBot p {
  font-size: 1.5rem;
}

#introduction {
  display: block;
  font-weight: normal;
  color: red;
}

.flexWrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40vh;
  gap: 2rem;
}

.trailer {
  width: 50%;
  background-color: azure;
  height: 100%;
  border-radius: 2rem;
}  */
